/*mobile*/
.contact {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #0578FF;
    height: 372px;
    width: 100%;
}
.contact-wrapper {
    z-index: 2;
    margin-top: -97px;
    background-color: white;
    position: relative;
    display: flex;
    width: 320px;
    height: 341px;
    border: 1px solid gray;
    border-radius: 10px;
}
.contact-card {
    padding: 60px 20px;
    margin-left: 25px;
    text-align: center;
    z-index: 1;
}
.contact .contact-card h2 {
    margin-top: 0;
    font-size: 36px;
    max-width: 280px;
    text-align: center;
}
.contact-phone, .contact-email {
    text-decoration: none;
    color: #202020;
    font-size: 20px;
}
.contact-address {
    font-size: 18px;
}

/*tablet*/
@media screen and (min-width: 576px){
    .contact-wrapper {
        width: 464px;
        height: 397px;
        z-index: 2;
        margin-top: -97px;
        background-color: white;
        position: relative;
        display: flex;
        border: 1px solid gray;
        border-radius: 10px;
    }
    .contact-card {
        margin: 60px 20px;
        padding-top: 16px;
        align-content: center;
        margin-inline: auto;
        height: 297px;
    }
    .contact-card h2 {
        font-size: 64px;
        max-width: 513px;
    }
    .contact-phone, .contact-email {
        font-size: 28px;
        padding-bottom: 30px;
    }
    .contact-address {
        font-size: 18px;
    }
}

/*desktop*/
@media screen and (min-width: 993px){
    .contact-wrapper {
        width: 640px;
        height: 397px;
        margin-left: 30px;
    }
    .contact-card {
        height: 277px;
        margin: auto;
        top: 15%;
    }
    .contact-address {
        font-size: 18px;
    }
}